/* common styling */

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}
   
  .primary-button {
  
    background-color: black;
    color: white;
    height: 50px;
    width: 90%;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35px;
    border-radius: 5px;
    border: none  !important;
   
  }
  
  .primary-button:hover {
  
    background-color: rgb(73, 72, 72);
  
  }
  
  .anchor {
  
    color: black !important;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  
  }
  
  .anchor:hover {
  
    text-decoration: underline !important;
  
  }
  
  .bg-image {
  
    background-image: url(../../images/customer_appointment/signup.jpg);
    width: 100%;
    min-height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .para {
  
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  
  /*authentication pages*/
  
  .authentication {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    padding-right: 200px;
    padding-top: 5%;
  
  }
  
  .authentication-form {

    background-color: rgba(175, 175, 175, 0.353);
    backdrop-filter:blur(30px);
    width: 500px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: none  !important;
    outline: none !important;
    box-shadow: none !important;

  }
  
  .authentication .card-title {
    text-align: center;
    color: black;
 
  }
  
  /* antd override */
  .signup_input  {
    background-color: white !important;
    border: white !important;
    height: 50px;
    color: black;
    font-weight: bold;
  }
    
  .signup_input:focus {
    
    outline: none !important;
    box-shadow: none !important;
    background-color: rgb(202, 201, 201) !important;
  }
  
  .ant-form-item {
    margin: 10px 0 !important;
    padding: 0 20px !important;
    font-weight: bold;
  
  }
  
  .ant-input {
  
    background-color: rgba(0, 0, 0, 0.3);
  }
