
.edit-service-form {
    font-family: Arial, sans-serif;
    max-width: 700px;
  }
  
  .service-form-group {
    margin-bottom: 1rem;
    width: 700px;
  }
  
  .form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .form-control {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  .service-btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .service-btn-primary{
    background-color: #0056b3;
  }
  
  /* Additional styles for textareas */
  textarea.form-control {
    resize: vertical;
    min-height: 100px;
  }

  
  