
.feed_admincontainer {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .feed_adminrow {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .feed_admin_header {
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
  }

  .feed_admin_dRepo{
    margin-top: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    background-color: #767676;
    width: 150px;
    height: 40px;
    cursor: pointer;
  }
  .feed_admin_dRepo:hover{
    background-color: #5d5d5d;
  }
  
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
    
  }

  .feed_admin_form_control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .feed_admin_btnsearch {
    height: calc(1.5em + 0.75rem + 2px);
    border: 3px solid rgb(132, 132, 132);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .feed_admin_table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  .feed_admin_table th,
  .feed_admin_table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  #feed_admin_genRepo {
    white-space: nowrap;
  }
  
  .feed_admin_btn_warning{
    color: black;
    background-color: #00b463de;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-block;
  }
  .feed_admin_btn_warning:hover{
    background-color: #02854a;
  }
  
  .feed_admin_btn_danger{
    color: #fff;
    background-color: #dc3545;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-block;
  }
  .feed_admin_btn_danger:hover{
    background-color: #c82333;
  }

  @media print {

    #feed_admin_genRepo{
        display: none;
    }

  }
  