.employee-form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e3e3e3;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.employee-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.employee-form-container form {
    display: flex;
    flex-direction: column;
}

.employee-form-container label {
    margin-bottom: 5px;
}

.employee-form-container input,
.employee-form-container select {
    padding: 10px;
    margin-bottom: 20px;
    width: 470px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.employee-form-container select {
    appearance: none; /* Removes default select styles */
}

.employee-form-container button {
    padding: 12px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-top: 20px;
}

.employee-form-container button:hover {
    background-color: #3e3e3e;
}
.error-message {
    color: red;
    font-size: 12px;
}