@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.mainPagecontainer{
    align-items: center;
    justify-content: center;
    display: flex;
 
    background-image: url(../../images/customer_appointment/welcome.jpg);
    /* background:url(../../Assets/EnrollBG.png) no-repeat; */
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-top: 150px;
    border-radius: 20px;

}

.enrollnowH2{
    font-size: 30px;
    font-weight: 800;
}
.enroll-form-container{
    border-radius: 40px;
    padding: 10px;
    display: flex;
    margin-top: 20px;
    margin: 50px;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    background-color: rgba(196, 196, 196, 0.663);
    /* backdrop-filter: blur(30px); */
    border-color: black;
    border-width: 10px;
}


.Enroll-form-label{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.Enroll-form-input{
    border-radius: 5px;
    width: 350px;
    height: 35px;
    border: none;
    margin: 3px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;

}

.Enroll-form-select{
    font-size: 15px;
    border: none;
    width: 250px;
    height: 35px;
}

.enrollFormOptions{
    width: 250px;
    height: 50px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.locationRadio{
    width: 20px;
}


.enroll-button{
    padding: 10px;
    border: none;
    margin: 20px;
    background-color: black;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    cursor: pointer;
    font-weight: 800px;
    border-radius: 10px;
}
.enroll-button:hover{
    background-color: #fff;
    color: black;
    transition: 0.5s;
}