.form-container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
}

.form-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #555;
}

input[type='text'],
input[type='number'],
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	transition: border-color 0.3s;
}

input[type='text']:focus,
input[type='number']:focus,
textarea:focus {
	border-color: #007bff;
	outline: none;
}

textarea {
	height: 100px;
	resize: vertical;
}

input[type='text'].form-control::placeholder,
input[type='number'].form-control::placeholder {
	color: #aaa;
}

.error {
	color: red;
	font-size: 12px;
	margin-top: 5px;
}

.input-group {
	display: flex;
	gap: 10px;
}

.btn {
	padding: 10px 15px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: #0056b3;
}

.submit-btn {
	width: 100%;
	padding: 10px;
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.submit-btn:hover {
	background-color: #218838;
}

.form-ul {
	list-style-type: none;
	padding: 0;
	background-color: transparent;
}

.form-ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.form-ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 5px;
	margin-right: 5px;
}

.form-ul button {
	background-color: #ff4d4d; /* Red background */
	color: white; /* White text */
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-left: 5px;
}

.form-ul button:hover {
	background-color: #ff1a1a; /* Darker red on hover */
}

.form-ul button:focus {
	outline: none; /* Remove default focus outline */
	box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Add a subtle shadow for focus */
}

.img-preview {
	margin-top: 15px;
	text-align: center;
}

.img-preview img {
	max-width: 100%;
	max-height: 200px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.invalid-link {
	color: red;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
