.PEimage{
    background-size: cover; /* Cover the entire component */
    background-position: center; /* Center the background image */
    padding: 10px; /* Add padding as needed */
     
 }

 .PEtopic{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
 }
 
 .PEproductForm{
    max-width: 600px;
    margin: 10px auto;
    padding: 35px;
    background-color: #beb8b86b;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', seri
 }

.PEform-group {
    margin-bottom: 10px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 15px;

}
.PEinarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.PEbtn {
    padding: 10px 30px;
    background-color: #0e1011;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 250px;
    font-weight: bold;
 }
button[type="submit"] {
    background-color: #090b0c;

}
 
button:hover {
    background-color: #3b3a3a;

}