@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.upper-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/customer_appointment/upper_img.jpg');
  height: 100%;
  min-height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.profile-container {
  width: 800px;
  height: 600px;
  margin: auto;
  border-radius: 20px;
  margin-top: 50px;
  background-color: white;
  font-family: 'Merriweather';
}

.upper-container {
  width: 780px;
  height: 250px;
  background-color: rgba(175, 175, 175, 0.353);
  border-radius: 20px;
  margin: 10px;
}

.image-container {
  float: left;
  width: 200px;
  position: relative;
  margin-left: 20px;
}

.image-container img {
  background: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(1%, 10%);
  object-fit: cover;
}

.camera-upload {
  position: absolute;
  top: 40px;
  left: 150px;
}

.camera-button {
  background: transparent;
  border: none;
}

.camera-button:hover {
  background: transparent !important;
  border: none;
}

.camera-button img {
  width: 30px;
  height: 30px;
}

.img_text {
  float: left;
  width: 460px;
}

.pcard-title {
  text-align: center;
  color: black !important;
  font-family: 'Merriweather';
  padding-top: 100px;
}

.lower_pcontainer{
  width: 800px;
  height: 620px;
  background-color: white;
  text-align: center;
  font-family: 'Merriweather';
  color: black;
  padding-top: 40px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.profile_details {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;

}

.profile_details_form {
  background-color: rgba(175, 175, 175, 0.353);
  backdrop-filter: blur(30px);
  width: 770px;
  height: 550px;
  padding-left: 140px;
  padding-right: 140px;
  color: black;
  padding-top: 20px;
  text-align: left;
  border-radius: 10px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.card_title {
  text-align: center;
  color: black;
}
.profile_form{
  margin-top: 50px;
}
.profile_input {
  background-color: white !important;
  border: white !important;
  width: 500px;
  height: 40px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-weight: bold;
  border-radius: 5px;
  color: rgb(94, 94, 94);

  
}

.profile_input:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: rgb(202, 201, 201) !important;
 
}

.edit-profile {
  background-color: black;
  color: white;
  height: 50px;
  width: 40%;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 35px;
  border-radius: 5px;
  padding: 5px;
  border: none !important;
}

.edit-profile:hover {
  background-color: rgb(73, 72, 72) !important;
}

.delete {
  background-color: rgb(136, 4, 4);
  color: white;
  height: 50px;
  width: 40%;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none !important;
}

.delete:hover {
  background-color: rgb(196, 10, 10) !important;
}

.profile_btn {
  display: flex;
  justify-content: center;
}

.profile_btn button {
  margin: 0 10px;
}